<div class="container">

	<div class="relative grid_3 _w_sidebar">
		<ul class="why_sidebar idTabs">
			<li><a class="selected" href="#tab1">Packed with DNS Functions</a></li>
			<li><a href="#tab2">Reliable DNS Service</a></li>
			<li><a href="#tab3">User Friendly Interface</a></li>
			<li><a href="#tab4">Socialize your Domains</a></li>
			<li><a href="#tab5">Secure Protections</a></li>
			<li><a href="#tab6">DNSSEC in 1 click</a></li>
			<li><a href="#tab7">Future Proof DNS</a></li>
			<li><a href="#tab8">Trustworthy Services</a></li>
		</ul>
	</div><!-- relative close -->

	<div class="grid_with_fixed_sidebar _grid_9">
		<div class="white_bg">
		<h2 class="why_title">Why DNSSocial?</h2>

		<div class="home_features" id="tab1">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/DNS Record.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Record Supported</h2>
						<p>DNSSocial supports all DNS record types including A, CNAME, MX, NS, TXT, AAAA, SRV, etc.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Vanity nameservers module</h2>
						<p>We are giving you freedom to change your name server to your liking. By using vanity nameserver, you can hide DNSSocial name server and use your own domain as your name server. Now that is a convenient feature when you want a consistent info when people WHOIS your domain.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Vanity NS.png' %>
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Short URL.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Short URL and URL Forwarding</h2>
						<p>Setting DNS Forwarding and Short URL has never been easier using DNSSocial. You can add wildcard to your DNS Forwarding and also setup Short URL for a ling URL.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Dynamic DNS</h2>
						<p>Your server does not have Static IP? DDNS is available for you to use. So you can host your website using your dynamic ip and we take care the DNS resolving for you. </p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Dynamic DNS.png' %>
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/International Domain Names.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>IDN supported</h2>
						<p>You use non-ASCII in your domain? No problem, DNSSocial support International Domain Names (IDN), so your non-english visitor can surf to your website with their own language and characters.</p>
					</div><!-- feature_desc close -->
				</li>
			</ul>	
		</div><!-- home_desc close -->

		<div class="home_features" id="tab2">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Global NS.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Globally located NS</h2>
						<p>Our NS server are located at strategic place globally. All DNS resolutions are routed to the nearest server to reduce latency and provide redundancy.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Update in Realtime</h2>
						<p>All change made at DNSSocial are updated and propagated to other server in realtime. You won't lose a second in your life time again.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Update Realtime.png' %>
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Minimum TTL.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Minimum TTL 5 Min</h2>
						<p>3600 TTL is too long for your DDNS? We provide you with only 5 minutes TTL, so you can update faster and work efficiently faster.</p>
					</div><!-- feature_desc close -->
				</li>
				<li class="hide">
					<div class="feature_desc fleft">
						<h2>DNS view</h2>
						<p>Coming Soon.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/feature_dummy.png' %>
					</div><!-- feature_img close -->
				</li>
			</ul>
		</div><!-- home_features close -->

		<div class="home_features" id="tab3">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Advance GUI.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Advanced GUI</h2>
						<p>Enter the sleekest and the most responsive GUI ever made. It is so easy to use that you don,t need any manual with it. </p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Templates</h2>
						<p>Use the predefined templates and work faster and easier. Get all setup and ready within seconds.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Template.png' %>
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Auditing and Reporting.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Auditing and Reporting</h2>
						<p>DNSSocial is equipped with the best reporting tool  for DNS need. You can monitor your dns query from their origins to their top zone query. All is crafted into a rich and powerful statistical graph. DNSSocial also provides you with comprehensive Auditing tool which help you know who and when change have been made to your zone.</p>
					</div><!-- feature_desc close -->
				</li>
			</ul>
		</div><!-- home_features close -->

		<div class="home_features" id="tab4">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Share and Assign.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Share or assign your domain to your friends.</h2>
						<p>Sharing is caring, so share and assign your domain to anyone you like. </p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Get reward point by inviting</h2>
						<p>Stance a chance to win mystery gift by inviting and sharing your domain with others. </p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Invite Reward.png' %>
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Facebook Integration.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Facebook Integrations</h2>
						<p>One and only DNS Service which seamlessly integrate with facebook. Register and login by using your facebook account. Post update on your domain to facebook directly. </p>
					</div><!-- feature_desc close -->
				</li>
			</ul>
		</div><!-- home_features close -->

		<div class="home_features" id="tab5">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/DNSSEC Ready.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>DNSSEC Ready</h2>
						<p>DNSSEC is the new DNS security features that provides you fool proof DNS transactions. Protect your Domain and be sure your customer are directed to your website safely.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Secure communications</h2>
						<p>DNSSocial support https protocol for encrypted communications and itself is already signed with DNSSEC. We promise you the best protections ever for our products.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Secure Comunications.png' %>
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Firewall.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Firewall</h2>
						<p>Our server is protected by a powerful firewall, all dns register with us are protected from DDOS attack. As our customer, you can rest assured as we provide the best protections for your needs.</p>
					</div><!-- feature_desc close -->
				</li>
			</ul>
		</div><!-- home_features close -->

		<div class="home_features" id="tab6">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Assign DNSSEC.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Simple DNSSEC Activations</h2>
						<p>There are no other service provided the simplest DNSSEC activations other than DNSSocial. Just click “Assign DNSSEC” and everythings is already taken care of. The only thing for you to do is submit the generated keys to your domain registrar and all done.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Auto Key Management </h2>
						<p>With DNSSocial you do not have to worry about how you manage your DNSSEC key. All you have to do is activate DNSSEC, inform your domain registrar and all will work smoothly.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Auto Key Management.png' %>
					</div><!-- feature_img close -->
				</li>
			</ul>
		</div><!-- home_features close -->

		<div class="home_features" id="tab7">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/Ipv6 Ready.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>IPv6 ready</h2>
						<p>Our DNS service is ready to serve you in the present and future. Equipped with the state of the art networking our DNS are reachable in the latest IPv6 world and ready to serve you anytime.</p>
					</div><!-- feature_desc close -->
				</li>
				<li class="hide">
					<div class="feature_desc fleft">
						<h2>Simplified IPv6 reverse DNS</h2>
						<p>We have work hard to simplify the process for you to add a reverse DNS for IPv6. Now it never been easier to add a reverse DNS for IPv6.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/feature_dummy.png' %>
					</div><!-- feature_img close -->
				</li>
			</ul>
		</div><!-- home_features close -->

		<div class="home_features" id="tab8">
			<ul class="">
				<li>
					<div class="feature_img fleft">
						<%= image_tag 'static/why/SLA.png' %>
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>SLA</h2>
						<p>We guarantee a 99.9% SLA for free members and 99.99% for the paid members.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Tech Support</h2>
						<p>We give you our best tech support, just email us and we will be there to help you.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<%= image_tag 'static/why/Tech Support.png' %>
					</div><!-- feature_img close -->
				</li>
			</ul>
		</div><!-- home_features close -->

		</div><!-- white_bg close -->
	</div><!-- grid_9 close -->

	<!-- content <div class="content_post grid_8 hide">
		<div class="bg_putih">
		<h2 class="title"> Why DNSSocial? </h2>

		<h2 id='packed_with_dns_functions'>Packed with DNS Functions</h2>

		<p><strong>Record Supported</strong> <br /> DNSSocial supports all DNS record types, including A, CNAME, MX, NS, TXT, AAAA, SRV etc.</p>

		<p><strong>Wildcard DNS</strong> <br /> Wildcard DNS is supported in DNSSocial. eg. <em>.dnscell.com or buddy_</em>.dnscell.com</p>

		<p><strong>Short URL and URL Forwarding</strong> <br /> Setting DNS Forwarding and Short URL has never been easier using DNSSocial. You can add wildcard to your DNS Forwarding and also setup Short URL for a long URL.</p>

		<p><strong>Dynamic DNS</strong> <br /> Your server does not have Static IP? DDNS is available for you to use. So you can always assure that you will find your way back to your server.</p>

		<h2 id='reliable_dns_service'>Reliable DNS Service</h2>

		<p><strong>Globally located NS</strong> <br /> Our NS server are located at strategic place globally. So your customer would have minimum latency time.</p>

		<p><strong>Realtime Updates</strong> <br /> All change made at DNSSocial are update and propagate to other server in realtime. You won&#8217;t lose a second in your life again.</p>

		<p><strong>Minimum TTL 1 Min</strong> <br /> 3600 TTL is to long for your DDNS? We provide you with only 60 second, so you can update faster. <strong>Assign DNS view to specific users/IP</strong> <br /> Coming Soon</p>

		<h2 id='user_friendly_interface'>User Friendly Interface</h2>

		<p><strong>Advanced GUI</strong> <br /> Enter the sleek and responsive GUI ever made. It is so easy to use that you don,t need any manual with it.</p>

		<h2 id='domain_grouping'>Domain Grouping</h2>

		<p><strong>Templates</strong> <br /> Use the predefined templates and work faster and easier. Get all setup and ready within seconds.</p>

		<p><strong>Auditing and Reporting</strong> <br /> DNSSocial is occupied with the best reporting tool and auditing for DNS need. You can monitor your dns query from their origins to their top zone query. All is crafted into a rich and powerful statistical graph.</p>

		<h2 id='socialize_your_domains'>Socialize your Domains</h2>

		<p><strong>Share your sub-domain</strong> <br /> Sharing is caring, so share your created subdomain with anyone you like.</p>

		<p><strong>Get reward by inviting</strong> <br /> Stance a chance to win mystery gift by inviting and sharing your subdomain with others.</p>

		<p><strong>Facebook Integrations</strong> <br /> One and only DNS Service which seamlessly integrate with facebook. Register and login by using your facebook account. Post update on your domain to facebook directly.</p>

		<strong>Secure Proctections</strong>
		<ul>
			<li>DNSSEC Ready</li>
			<li>Encrypted comunications</li>
		</ul>

		<strong>DNSSec In 1 click</strong>
		<ul>
			<li>Simple DNSSEC Activations</li>
			<li>Key Management</li>
		</ul>

		<strong>Trustworthy Services</strong>
		<ul>
			<li>SLA</li>
			<li>Tech Support</li>
			<li>Firewall</li>
		</ul>

		</div>
	</div> close -->

	<%#= render 'static_sidebar' %>

	<br class="clear">
</div><!-- container_12 close -->
